
/* Estilos creados por mí para el sitio sobre WAF */

body {
    background-color: #0f1724;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado principal */
header {    
    background-color: #1e2733;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    color: #ff7a1a;
}

/* Barra de navegación - versión personal */
#menuNav {
    background-color: #1a222d;
    padding: 5px 10px;
    border-bottom: 2px solid #ff8000;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto 20px auto;
}

#menuNav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#menuNav li {
    margin: 0;
}

#menuNav a {
    color: #f2f2f2;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-align: center; 
    text-transform: uppercase;
    padding: 12px 22px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#menuNav a:hover {
    background-color: #1f2732;
    color: #ff7a1a;
}

/* Contenedor principal */
main {
    max-width: 1150px;
    margin: 20px auto;
    background-color: #1a222d;
    padding: 40px;
    border-radius: 8px;
}

/* Títulos y texto */
.tituloPrincipal {
    color: #ff8000; 
}

.tituloSecundario {
    color: #ffa64d; 
}

.tituloTerceario {
    color: #ffbb66; 
}

.tituloCuaternario {
    color: #ffd199; 
}

.tituloQuinto {
    color: #ffe0b3; 
}

.textoParrafos {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 15px;
}


.lista {
    margin-left: 20px;
    margin-bottom: 15px;
    list-style: disc;
}

/*Imagenes*/
.contenedorImagen img {
    width: 100%;
    max-width: 1100px;
    height: auto;
    border: 4px solid #031631;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.bloqueInfo {
    background-color: #242a37;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    margin-bottom: 25px;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #021c3b;
}

th, td {
    border: 1px solid #3b4551;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff7a1a;
    color: white;
}

/* Pie de página */
footer {
    background-color: #1a222d;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ff8000;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    border-radius: 8px;
}
footer p {
    margin: 0;
    text-align: center;
}
